PFIZER_FFVV/Web References/Autenticacion/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validar acceso Usuario</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="AutenticarU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioRed" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticarUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutenticarUResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticarUSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticarU" />
  </wsdl:message>
  <wsdl:message name="AutenticarUSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticarUResponse" />
  </wsdl:message>
  <wsdl:portType name="AutenticarSoap">
    <wsdl:operation name="AutenticarU">
      <wsdl:input message="tns:AutenticarUSoapIn" />
      <wsdl:output message="tns:AutenticarUSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutenticarSoap" type="tns:AutenticarSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticarU">
      <soap:operation soapAction="http://localhost/AutenticarU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutenticarSoap12" type="tns:AutenticarSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticarU">
      <soap12:operation soapAction="http://localhost/AutenticarU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autenticar">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validar acceso Usuario</wsdl:documentation>
    <wsdl:port name="AutenticarSoap" binding="tns:AutenticarSoap">
      <soap:address location="http://localhost:2230/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="AutenticarSoap12" binding="tns:AutenticarSoap12">
      <soap12:address location="http://localhost:2230/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>